* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  background: var(--light-grayish-blue);
  font-family: 'Manrope', sans-serif;
}

#container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 100vw;
  height: auto;
}

.article-preview {
  display: flex;
  flex-wrap: wrap;
  width: 327px;
  height: 504px;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #fff;
}

.article-preview__image {
  height: 200px;
  overflow: hidden;
}

.article-preview__image img {
  width: 100%;
}

.wide-layout {
  display: flex;
  flex-wrap: wrap;
  height: 304px;
}


.article-preview__heading {
  margin: 30px 32px -9px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--very-dark-grayish-blue);
}

.article-preview__summary {
  margin: 0 32px 0 32px;
  font-size: 13px;
  font-weight: 200;
  line-height: 20px;
  letter-spacing: 0.121875px;
  color: var(--grayish-blue);
}


.share-toolbar {
  width: 100%;
  height: 64px;
  align-self: flex-end;
  display: flex;
  padding: 8px 32px 20px 32px;
}

.share-toolbar__byline {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  line-height: 20px;
}

.byline__avatar {
  margin-right: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.byline__name {
  color: var(--very-dark-grayish-blue);
}

.byline__date {
  color: var(--grayish-blue);
}

.share-toolbar__button {
  align-self: center;
  margin-top: 5px;
  background: no-repeat center url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='13'%3E%3Cpath fill='%236E8098' d='M15 6.495L8.766.014V3.88H7.441C3.33 3.88 0 7.039 0 10.936v2.049l.589-.612C2.59 10.294 5.422 9.11 8.39 9.11h.375v3.867L15 6.495z'/%3E%3C/svg%3E"), var(--light-grayish-blue);
  border: none;
  height: 32px;
  min-width: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.share-toolbar__button-wide-layout {
  display: none;
  background: no-repeat center url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='13'%3E%3Cpath fill='%236E8098' d='M15 6.495L8.766.014V3.88H7.441C3.33 3.88 0 7.039 0 10.936v2.049l.589-.612C2.59 10.294 5.422 9.11 8.39 9.11h.375v3.867L15 6.495z'/%3E%3C/svg%3E"), var(--light-grayish-blue);
  border: none;
  height: 32px;
  min-width: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.share-toolbar__button:hover,
.share-toolbar--active .share-toolbar__button,
.share-toolbar__button-wide-layout:hover, 
.share-toolbar--active-wide-layout .share-toolbar__button-wide-layout {
  background: no-repeat center url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='13'%3E%3Cpath fill='%23ffffff' d='M15 6.495L8.766.014V3.88H7.441C3.33 3.88 0 7.039 0 10.936v2.049l.589-.612C2.59 10.294 5.422 9.11 8.39 9.11h.375v3.867L15 6.495z'/%3E%3C/svg%3E"), var(--desaturated-dark-blue);
}

.share-toolbar--active button:hover {
  background: no-repeat center url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='13'%3E%3Cpath fill='%236E8098' d='M15 6.495L8.766.014V3.88H7.441C3.33 3.88 0 7.039 0 10.936v2.049l.589-.612C2.59 10.294 5.422 9.11 8.39 9.11h.375v3.867L15 6.495z'/%3E%3C/svg%3E"), var(--light-grayish-blue);
}

.share-toolbar--active .share-toolbar__button {
  margin-top: 20px;
}

.share-toolbar__social-links {
  display: none;
  font-size: 13px;
  font-weight: 200;
  color: var(--desaturated-dark-blue);
  letter-spacing: 5px;
}

.share-toolbar--active .share-toolbar__social-links {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
}

.share-toolbar--active .byline__avatar, .share-toolbar--active .share-toolbar__byline {
  display: none;
}

.share-toolbar.share-toolbar--active {
  background: var(--very-dark-grayish-blue);
  padding: 0 32px 20px 32px;
}

.share-toolbar__social-links span {
  margin-right: 13px;
}

.share-toolbar__social-links img {
  margin: 0 8px 0 8px;
}

.share-toolbar.share-toolbar--active-wide-layout {
  position: relative;
}

.share-toolbar__social-links.share-toolbar--active-wide-layout {
  display: flex;
  justify-content: space-between;
  position: absolute;
  background: var(--very-dark-grayish-blue);
  border-radius: 10px;
  top: -80px;
  height: 55px;
  margin-left: 222px;
  padding: 18px 28px;
  margin-bottom: -55px;
  box-shadow: 0px 10px 10px rgba(201, 213, 225, 0.503415);
}

.share-toolbar__social-links.share-toolbar--active-wide-layout:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(50% - 6px);
  width: 0;
  height: 0;
  
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  
  border-top: 12px solid var(--very-dark-grayish-blue);
  margin-bottom: -12px;
}

.attribution {
  align-self: flex-end;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  color: #307566;
}

.attribution a {
  color: #133028;
  text-decoration-color: #307566;
}

@media screen and (min-width: 750px) {
  .article-preview {
    width: 730px;
    height: 280px;
    overflow: visible;
  }

  .article-preview__image {
    height: 100%;
    width: 350px;
    border-radius: 10px;
  }
  
  .wide-layout {
    height: 100%;
    width: calc(380px + 65px);
    margin-left: -65px;
    padding-top: 19px;
    background: #fff;
    padding-left: 8px;
    border-radius: 0 10px 10px 0;
  }

  .share-toolbar__button {
    display: none;
  }

  .share-toolbar__button-wide-layout {
    display: block;
  }

  .article-preview__heading {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.25px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .article-preview__summary {
    margin-bottom: 20px;
  }
  .share-toolbar {
    justify-content: space-between;
    width: 367px;
    margin-left: 33px;
    margin-bottom: 7px;
    padding: 0;
  }
  .share-toolbar__byline {
    flex-grow: 1000;
  }
  .byline__avatar {
    box-shadow: none;
  }
  .byline__name {
    width: 100%;
    letter-spacing: 0.121875px;
  }
  .byline__date {
    margin-top: -22px;
  }
  .share-toolbar__button {
    
  }
}
